.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @include view(md-max) {
    grid-column: span 2;
  }

  &__icon {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    max-width: 12rem;
    text-align: center;
  }
}
