// Language Swithcer
.language-switcher {
  grid-area: language-switcher;
  justify-self: end;
  @include view(lg-max) {
    z-index: 1;
    position: relative;
  }

  // @include view(md-max) {
  //   display: none;
  // }

  &__list {
    display: flex;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex: 1 1 auto;

    list-style: none;

    // Create the Divider
    &:first-child::after {
      content: "";
      height: 1rem;
      margin: auto;
      border: 1px solid $white;
    }
  }

  &__text {
    color: $white;
    padding: max(0.5rem);
    transition: color ease 0.3s;

    &:hover {
      color: $accent1;
    }
  }
}
