// Main Menu
.main-menu {
  grid-area: main-menu;
  display: flex;
  align-items: center;
  z-index: 1;
  font-size: 1.1rem;

  @include view(lg-max) {
    justify-self: end;
  }

  &__list,
  &__sub-list {
    list-style: none;
  }

  &__list {
    display: flex;
    align-items: start;

    @include view(md-max) {
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      top: 100%;
      width: 100vw;
      padding: 2.5rem;
      background-color: $white;
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      //   rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }

    &--open {
      left: 0;
      opacity: 1;
      transition: opacity ease-in 0.5s 0.2s, left 1s ease;
    }

    &--closed {
      left: 100%;
      opacity: 0;
      transition: opacity ease-in 0.5s, left 1s ease;
    }
  }

  &__item {
    padding: 0 $listGap;
    text-transform: lowercase;
    cursor: pointer;

    &--has-children {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      position: relative;

      &:after {
        content: "▼";
        font-size: 0.6rem;

        //Prevent :after from firing a link <a href>
        pointer-events: none;
      }

      &:hover .main-menu__sub-list {
        opacity: 1;
      }
    }
  }

  &__item:last-child {
    @include view(lg-max) {
      padding: 0;
    }
  }

  &__link {
    font-size: 1.125rem;
    letter-spacing: -0.02em;
    color: $black;

    @include view(md-max) {
      font-size: 1.5rem;
    }
  }

  &__sub-list {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    top: 2rem;
    min-width: 100%;
    padding: $listGap;
    background-color: $white;
    border-radius: 0.2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity ease 0.5s;
  }

  &__sub-item-link {
    color: $black;
  }
}

// Search and language (only for Hamburger Menu)
.search-and-language {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1rem;
}

// Footer Menu
.footer-menu {
  grid-area: footer-menu;
  display: flex;
  align-items: center;
  font-size: clamp(0.6rem, 1.1rem, 3rem);
  text-transform: lowercase;

  &__list,
  &__sub-list {
    padding: 0;
    list-style: none;
  }

  &__list {
    display: flex;
    align-items: start;

    @include view(lg-max) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 0 $listGap;
    cursor: pointer;

    @include view(lg-max) {
      padding: 0;
    }
  }

  &__item:first-child {
    @include view(lg-max) {
      padding: 0;
    }
  }

  &__link {
    font-size: clamp(0.6rem, 1.125rem, 3rem);
    letter-spacing: -0.02em;
    color: $black;
  }
}
