//Header

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  overflow-x: hidden;
  width: 100%;
  background: $transparent;
  transform: translateX("0px"); // Used for transition
  transition: all ease 0.5s;

  &--scroll {
    background: $primary;
  }

  &__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "language-switcher language-switcher" "logo main-menu";
    align-items: center;
    padding: 1.5rem 0;

    @include view(md-max) {
      grid-template-columns: auto;
      grid-template-areas: "logo main-menu";
    }
  }

  &__logo-container {
    z-index: 2;
  }

  &__logo {
    grid-area: logo;
    width: clamp(10rem, 100%, 250px);
  }
}
