// Dark
$black: #000000;

// Light
$white: #ffffff;
$grayLight: #e9e6e6;
$gray: #707070;

// Neutral
$primary: #001f3f;

// Accent
$accent1: #ffc631;

// Gradient

// Opacity
$transparent: transparent;
