// Dark
$black: #000000;

// Light
$white: #ffffff;
$grayLight: #f7f7f7;
$blueLight: #ddedfd;

// Neutral
$blue: #5252c6;
$purple: #5e6cb3;

// Accent
$accent1: #ffcb4e;

// Gradient

// Opacity
$transparent: transparent;
