<footer class="footer">
  <div class="footer__container boxed">
    <!-- Logo -->
    <div class="footer__logo-container">
      <a href="/">
        <img
          src="../src/assets/img/logo-and-text.svg"
          alt=""
          class="logo footer__logo"
        />
      </a>
    </div>

    <!-- Footer Menu -->
    <div class="footer__menu">
      <h3 lang="el" class="heading-medium-small footer__heading">Ο Όμιλος</h3>
      <nav class="footer-menu">
        <ul class="footer-menu__list">
          <li lang="el" class="footer-menu__item">
            <a href="/pages/about.html" class="footer-menu__link"
              >Ποιοι Είμαστε</a
            >
          </li>
          <li lang="el" class="footer-menu__item">
            <a href="/pages/services.html" class="footer-menu__link"
              >Υπηρεσίες</a
            >
          </li>
          <li lang="el" class="footer-menu__item">
            <a href="/pages/case-studies.html" class="footer-menu__link"
              >Έργα</a
            >
          </li>
          <li lang="el" class="footer-menu__item">
            <a href="/pages/communication.html" class="footer-menu__link"
              >Επικοινωνία</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <!-- Contact Info -->
    <div class="footer__contact-info">
      <h3 lang="el" class="heading-medium-small footer__heading">
        Πληροφορίες
      </h3>
      <ul class="footer__contact-info-list">
        <li class="footer__contact-info-item">
          <a href="#" class="footer__contact-info-link"
            >Βιομηχανικό Πάρκο Αυλώνα, Αττική</a
          >
        </li>
        <li class="footer__contact-info-item">
          ΤΘ: 43, GR-19011
          <a href="#" class="footer__contact-info-link"></a>
        </li>
        <li class="footer__contact-info-item">
          Τηλ.
          <a href="#" class="footer__contact-info-link">22950-29965</a>
        </li>
        <li class="footer__contact-info-item">
          ΑΡΙΘΜΟΣ ΓΕΜH:
          <a href="#" class="footer__contact-info-link">7724701000</a>
        </li>
      </ul>
    </div>

    <!-- Certification -->
    <div class="footer__certification">
      <h3 lang="el" class="heading-medium-small footer__heading">
        Οι Πιστοποιήσεις μας
      </h3>
      <div class="footer__certification-image-container">
        <img
          src="../src/assets/img/certification-footer.svg"
          alt=""
          class="footer__certification-image"
        />
      </div>
    </div>

    <!-- Copyrights -->
    <div class="footer__bottom-bar">
      <span class="text-extra-small footer__copyrights"
        >2023 All Rights Reserved. ΑΘΑΝΑΣΙΟΥ - ΜΕΤΑΛΛΙΚΕΣ ΚΑΤΑΣΚΕΥΕΣ</span
      >
      <span class="text-extra-small footer__created-by">
        Created by Concept Maniax
      </span>
      <span class="footer__linkedin">Follow us</span>
    </div>
  </div>
</footer>
