<footer class="footer">
  <div class="footer__container boxed">
    <div class="footer__logo-container">
      <img
        src="../src/assets/img/sucessible-logo.svg"
        alt=""
        class="logo footer__logo"
      />
    </div>
    <!-- Footer Menu -->
    <nav class="footer-menu">
      <ul class="footer-menu__list">
        <li class="footer-menu__item">
          <a href="/pages/about.html" class="footer-menu__link">About us</a>
        </li>
        <li class="footer-menu__item">
          <a href="/pages/services.html" class="footer-menu__link">Services</a>
        </li>
        <li class="footer-menu__item">
          <a href="/pages/case-studies.html" class="footer-menu__link"
            >Case Studies</a
          >
        </li>
        <li class="footer-menu__item">
          <a href="/pages/blog.html" class="footer-menu__link">Blog</a>
        </li>
        <li class="footer-menu__item">
          <a href="/pages/communication.html" class="footer-menu__link"
            >Communication</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer__contact-us">contact us</div>
    <!-- Contact Info -->
    <div class="contact-info">
      <div class="contact-info__linkedin"></div>
      <div class="contact-info__tel">+30698 67 82 066</div>
      <div class="contact-info__email">info@successibletalent.com</div>
    </div>
  </div>

  <div class="footer__copyrights">Created by Concept Maniax</div>
</footer>
